node_modules/
.npm


dist/
build/
out/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

pgadmin/pgpass
pgadmin/servers.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

.DS_Store
Thumbs.db
.vscode/

.husky/